<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TheMOVIE WebServer</title>
</head>

<body style="padding-top:20px;padding-left:90px;">
    <h1>TheMOVIE Webserver</h1>
    <hr>
    <p style="color:#0000ff"> "TheMovieAPI(OPEN API)"로부터 영화 관련정보를 가공해 DB를 구축합니다. </p>
    <h2>DB 저장하기</h2>
    <button>
      <a href="{% url 'movie:savedb' %}" class="btn btn-lg">DB저장</a
      ></button>
    </button>
</body>
</html>